SYBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:00:00:00:00:00", NAME="net0"
SYBSYSTEM=="net", ACTION=="add", ATTR{address}=="20:1a:06:37:3d:b9", NAME="net1"
SYBSYSTEM=="net", ACTION=="add", ATTR{address}=="80:56:f2:db:6f:29", NAME="net2"
